
@{
    ViewBag.Title = "Index";
}

<form action="/MyPage/OnClickMenu" method="post">
    <button type="submit" name="action" value="Feeder">Кормушка</button>
    <button type="submit" name="action" value="Collar">Ошейник</button>
    <button type="submit" name="action" value="c">Термогрелка</button>
    <button type="submit" name="action" value="Settings">Настройки</button>
</form>


