
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/js_css/libs/jquery/jquery.js"></script>

@Scripts.Render("~/js_css/libs/jquery/jquery.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<h1>ID модуля правильне!!! Тип модуля @ViewData["type"]</h1>
<h1>Введіть ID модуля</h1>
@*@using (Ajax.BeginForm("Сheck", "Admin", new AjaxOptions { UpdateTargetId = "results1" }))
{
    <input type="text" name="ID" />
    <input type="submit" value="Перевірити" />
}*@
@using (Ajax.BeginForm("Сheck", "Admin", new AjaxOptions { UpdateTargetId = "results1" }))
{
    <input type="text" name="ID" />
    <input type="submit" value="Перевірити" />
}
<div id="results1"></div>