
<p style="font-size:1.5em;">Temperature @ViewData["Temp"]</p><br />
<p style="font-size:1.5em;">Coordinates @ViewData["Coord"]</p><br />
<p style="font-size:1.5em;">Random @ViewData["Rand"]</p><br />