@{
    ViewBag.Title = "Login";
}


<form action="/Home/Login" method="post">
    <input id="names" name="Login" type="text" value="RaspberyData" />
    <input id="names" name="Password" type="text" value="password" />
    <input type="submit" />
</form>

@Html.ActionLink("Зареєструватись", "Index", "Registration")