
@{
    ViewBag.Title = "NotSuccessEnter";
}


@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/js_css/libs/jquery/jquery.js"></script>


<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<body>
    <nav id="main-nav" role="navigation">
        <!-- Sample menu definition -->
      
        <div style="text-align:center">
            <img src="~/js_css/images/sadDog.jpg" style="height:170px; width:auto" />
            <div style="padding:10px">
                <p style="font-size:1.3em">Ooops, you have entered invalid device ID</p>
                <p style="font-size:1.3em">Please, try again</p>
            </div>
        </div>

    </nav>
</body>
</html>
