<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AVN-group</title>
</head>
<body>
    <div>
        <img src="~/App_Data/logo.png" />
        <p>@ViewBag.inta</p>
        <form method="post">
            @Html.ActionLink("ON", "ON", "Home")<br />
            @Html.ActionLink("OFF", "OFF", "Home")
        </form>
    </div>
</body>
</html>
