
@{
    ViewBag.Title = "SuccessEnter";
}

<form action="/Home/SuccessEnter" method="post">
    <button type="submit" name="action" value="a">Кормушка</button>
    <button type="submit" name="action" value="b">Ошейник</button>
    <button type="submit" name="action" value="c">Термогрелка</button>
    <button type="submit" name="action" value="d">Настройки</button>
</form>

