
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
    <li>@Html.ActionLink("Українська", "Change", "Language", new { LanguageAbbrevation = "ua" }, null)</li>
    <li>@DateTime.Now.ToString()</li>
</ul>

