
<div id="results1">
    <img src="~/js_css/images/1fSIBNiqfis.jpg" style="height:170px; width:auto" />
    <div style="padding:10px">
        <p style="font-size:2em">Contragulations!</p>
        <p style="font-size:1.3em">You`ve already registered in Puppy Care project.</p>
        <p style="font-size:1.3em">You can @Html.ActionLink("sign in", "Login", "Home") using your login and password. </p>
    </div>
</div>