


@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/js_css/libs/jquery/jquery.js"></script>



    <div style="text-align:center">
        @Scripts.Render("~/js_css/libs/jquery/jquery.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


        @using (Ajax.BeginForm("AddUsers", "Registration", new AjaxOptions { UpdateTargetId = "results1" }))

        {
            <div id="results1">
                <div style="padding:10px">
                    <p style="texi-size:1.5em"> Correct! Module Type @ViewData["type"] </p>
                    <p style="font-size:2em">Step 2</p>
                    <p style="font-size:1.5em">Enter login and password</p>
                </div>
                <div style="padding-bottom:10px">
                    <input type="text" name="login" placeholder="login" /><br />
                </div>
                <div style="padding-bottom:10px">
                    <input type="text" name="password" placeholder="password" /><br />
                </div>
                <input type="submit" value="Check" />
                </div>
                }
   

            </div>


